*, ::after, ::before {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.red-style {
    color: red;
}
.red-style:hover {
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

body{
    background-color: #000;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow-x: hidden;
    color: #fff;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

input, select {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: normal;
    font-weight: 200;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 0 1px;
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    box-sizing: content-box;
    z-index: 100;
    padding: 0px 8%;
    max-width: 84%;
    width: 100%;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 0;
}

header .logo{
    display: inline-block;
    padding-left: 0;
    float: left;
    line-height: 1px;
}

header table{
    padding: 15px 0px;
    display: inline-block;
    float: right;
    border-collapse: collapse;
}

header a {
    color: #000 !important;
    font-weight: 100;
    font-weight: 100;
    padding: 25px 20px;
}

select {
    padding: 0px 20px;
    font-weight: 100;
    font-size: 18px;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
}
select:hover{
    cursor: pointer;
    outline: none;
    border: none;
}
select:focus{
    outline: none;
    border: none;
}

header .logo:hover{
    text-decoration: none;
}

header .menu a:hover{
    text-decoration: underline;
}

header .menu td a:last-child{
    padding-right: 0;
}

footer hr{
    width: 84%;
    margin: 60px 8% 0;
    border: 0.2px solid;
    border-collapse: collapse;
}

.foo-content{
    text-align: center;
    font-style: italic;
    margin: 30px 0;
}

content{
    width: 84%;
    max-width: 84%;
}

h1, h2 {
    text-align: center;
    font-weight: 200;
    margin: 10px 0;
}

.catalog{
    margin: 60px 8% 0;
}

.catalog .main {
    width: 100%;
    min-width: 100%;
}

.catalog .main, .desc{
    padding: 20px 0;
    display: inline-block;
    width: 50%;
}

.catalog .main img{
    display: inline-block;
    float: right;
    width: 20%;
    height: 20%;
}

.catalog .imgs .item{
    position: relative;
    display: inline-block;
    margin: 2% 2% 0 0;
    max-width: 22%;
    max-height: 22%;
}

.catalog .imgs .item:hover {
    cursor: pointer;
}

.catalog .imgs .quad{
    text-align: center;
}

.catalog .imgs .quad .sketch{
    font-size: 0;
    width: 100%;
    height: 100%;
}

.catalog .imgs .quad .rate{
    display: inline-flex;
    margin: 0 auto;
    min-height: 30px;
    height: 30px;
    margin-top: 10px;
}

.catalog .imgs .quad .rate a{
    display: inline-block;
}

.catalog .imgs .quad .rate a:hover{
    transform: scale(1.09);
}

.catalog .imgs .quad .rate img {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
    margin: 0 10px ;
}

.quad .add-item {
    display: none;
    padding: 5px;
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    right: 0;
}

.quad .add-item:hover {
    background-color: rgba(0, 0, 0, .7);
}

.catalog .imgs .quad .sketch:first-child{
    padding-left: 0;
}

.catalog .imgs .sketch:last-child{
    padding-right: 0;
}

.catalog .imgs .more{
    margin: 20px 30px 0 0;
    text-align: right;
}

.catalog .imgs .more a:hover{
    cursor: pointer;
    color: red;
}

.new-item {
    max-width: 22%;
    max-height: 22%;
    vertical-align: top;
    display: inline-block;
}

.new-item {
    display: inline-block;
    box-sizing: border-box;
    max-width: 22%;
    max-height: 22%;
    width: 22%;
    height: 22%;
}

.new-item .plus{
    display: inline-block;
    /*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 22%;
    max-height: 22%;
    padding: 95px;*/
    background-color: rgb(255 255 255);
    width: 100%;
    height: 90%;
    font-size: 62px;
    color: rgb(199 199 199);
    padding: 0;
    line-height: 0px;
    border-radius: unset;
    outline: 5px solid rgb(228 228 228);
    outline-offset: -5px;
    text-align: center;
}

.new-item .plus:hover{
    cursor: pointer;
}

.new-item .plus img{
    width: 100%;
    height: 90%;
}

.filter{
    margin: 0 auto;
}

.filter a{
    padding: 0 20px;
}

.rate-num{
    display: inline-block;
    min-height: 30px;
    line-height: 30px;
}

.sign{
    background-color: #fff;
    border: 3px solid #454545;
    width: 25%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 10%;
}

.sign input{
    display: block;
    border: 1px solid #000;
    padding: 0 10px;
    margin: 10px 0px;
    font-size: 16px;
    height: 30px;
}

.sign{
    color: #000;
}

.sign .inputs{
    margin: 20px 0;
}

.sign input{
    width: calc(100% - 20px);
}

.sign button{
    display: flex;
    color: #fff;
    margin: 0 auto;
}

.sign .or{
    text-align: center;
    font-size: 16px;
}

.sign .or a{
    text-decoration: underline;
    color: rgb(100, 149, 237);
}

.sign .or a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(100, 149, 237);
}


button{
    background-color: rgb(204, 88, 88);
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid rgb(204, 88, 88);
    border-radius: 5px;
}

#masters {
}

.master {
    margin: 90px 8%;
}

.master img {
    width: 20%;
}

.master .desc {
    display: inline-block;
    width: 65%;
    float: right;
    vertical-align: top;
    padding: 0;
}

.master h1 {
    text-align: left;
    margin: 0;
}



.p-div {
    margin: 90px 8%;
}

.personal-info img {
    width: 20%;
}

.profile-h2 {
    text-align: center;
}

.personal-info input {
    display: inline-block;
}

.input-pers-info {
    display: inline-block;
    vertical-align: top;
}

.input-pers-info span {
    display: inline-block;
    width: 200px;
}



.order {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    border: 5px solid #fff;
    border-radius: 10px;
}

.order img {
    padding: 10px 30px;
    width: 15%;
}

.complete {
    border: 5px solid red;
}

.order span {
    color: #000;
}

.order-info {
    /*border-left: 1px solid #000;
    border-right: 1px solid #000;*/
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}

.order-info span {
    color: #858585;
    line-height: 25px;
}

.info-in {
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}

.info-value {
    margin-right: 50px;
    width: 169px;
}

.order-status {
    margin-left: 100px;
    display: inline-block;
    vertical-align: top;
    line-height: 200px;
}

.order-status span {
}

.new-order {

}

.new-order h4 {
    color: #000;
    font-weight: 300;
    padding: 10px 0 5px 0;
    text-align: center;
}

.favs img {
    width: 200px; !important
}

.favs .quad .sketch {
    font-size: 0;
    width: 100px !important;
    height: 100px;
}

.order select {
    color: #000;
    padding: 0;
    text-decoration: underline;
}

.order select:hover {
    font-weight: 200;
}

.order .buts {
    display: inline-block;
    line-height: 0;
    padding: 0px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.order .edit img, .quad .delete-item img {

    padding: 5px;
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.quad .delete-item img {
    width: 20px;
    height: 20px;
}

.order .edit:hover {
    cursor: pointer;
}

#calculator{

}

.calculator {
    display: block;
    text-align: center;
    margin: 12% 8%;
}

.input-calc {
    padding: 50px 20px 30px;
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: top;
}

.input-calc span {
    text-align: left;
    display: inline-block;
    width: 200px;
}

.input-calc span, .input-calc select, .input-calc input {
    margin-bottom: 10px;
}

.input-calc select {
    width: 100px;
    text-align: center;
}

.lbl {
    background-color: #fff;
    width: 100px;
    color: #000;
    padding: 0 20px;
}

.load-sketch {
    display: block;
    margin-top: 22%;
    text-align: center;
}

.load-sketch h4 {
    text-align: center;
}

.load-sketch button {
    margin-top: 20px;
}

.calc-res {
    margin-top: 6%;
}

.calc-res img{
    margin-bottom: 10px;
    width: 30%;
}

.calc-res table {
    text-align: center;
    margin: 0 auto;
}

.calc-res table td {
    padding: 0px 10px;
    text-align: left;
}

#schedule {

}

.orders-nav a {
    padding-right: 20px;
}
.orders-nav a:hover {
    text-decoration: underline;
}

.users {
    margin: 90px 8%;
}

.users table {
    width: 100%;
    border: 1px solid red;
}

.users table tr {

}

.users table td {
    padding: 5px 10px;
}
.users table th {
    padding: 5px 10px;
    text-align: left;
}

.users table button {
    padding: 1px 12px;
    background-color: red;
    font-weight: 100;

}

.users table .id {
    width: 15%;
}

.users table .name {
    width: 15%;
}

.users table .email {
}

.users table .phone {
    width: 20%;
}

.users table .role {
    width: 10%;
}

.users table .act {
    width: 10%;
    text-align: center;
}

.sales table .id {
    width: 6%;
}

.sales table .desc {
    width: -webkit-fill-available;
}

.sales table .code {
    width: 8%;
}

.sales table .value {
    width: 8%;
}

.sales input {
    width: 100%;
    height: 100%;
}

.res .work {
    text-align: center;
    line-height: 0;
}

.res .work img {
    display: inline-block;
    text-align: center;
    font-size: 0;
    line-height: 0;
    height: 40vh;
    letter-spacing: unset;
}

.hackerman {
    width: 100vw;
    height: 100vh;
}

.edit-pic {
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.edit-pic img {
    width: 20px;
}

.update-profile-label, .view-profile-label {
    display: inline-block;
    position: relative;
    border: 1px solid #ffffff;
    vertical-align: top;
    margin: 0 30px;
    padding: 10px 60px 10px 20px;
}