<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buba Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <div class="calculator">
    <h4>Рассчитать стоимость</h4>
    <form class="input-calc" th:action="@{/calculateImageCost}" method="post" enctype="multipart/form-data">
      <span>Размер рисунка: </span><select name="imageSize">
                                      <option th:value="${imageSizes.TEN}">10x10</option>
                                      <option th:value="${imageSizes.TWENTY}">20x20</option>
                                      <option th:value="${imageSizes.THIRTY}">30x30</option>
                                      <option th:value="${imageSizes.FORTY}">40x40</option>
                                      <option th:value="${imageSizes.FIFTY}">50x50</option>
                                      <option th:value="${imageSizes.SIXTY}">60x60</option>
                                    </select><br>
        <span>Количество цветов</span><select name="colorsCount">
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                      <option value="6">6</option>
                                      <option value="7">7</option>
                                      <option value="8">8</option>
                                    </select><br>
        <span>Мастер</span><select name="masterId">
                                  <option value="0">любой</option>
                                  <option th:each="master, iStat : ${masters}" th:text="${master.name}" th:value="${master.id}"></option>
                                    </select><br>
        <input type="file" name="uploadFile" id="img" style="display:none;"/>
        <br>
        <label class="lbl" for="img">Выберите файл</label>
        <br>
        <button style="padding-top: 10px" type="submit">Рассчитать</button>
    </form>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>
</html>