<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>BUBA Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <div class="catalog">
    <div class="imgs">
      <h1>Catalog</h1>
      <table class="filter">
        <td>
          <a href="">Easy</a>
          <a href="">Medium</a>
          <a href="">Hard</a>
          <a href="">Black</a>
          <a href="">Colored</a>
        </td>
      </table>
      <div class="quad">
        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a href="make-order.html" class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled.png" alt="tattoo" title="helloooooo">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a href="make-order.html" class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled2.png" alt="tattoo" title="helloooooo">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a href="make-order.html" class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled3.png" alt="tattoo" title="good mooorning">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a href="make-order.html" class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled4.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div
        </div>
      </div>

      <div class="quad">
        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled5.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item">
          <a class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled6.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div onmouseout="hidePlus()" onmouseover="showPlus()" onmouseover="showPlus()" class="item">
          <a class="add-item">+</a>
          <img class="sketch" src="imgs/Untitled7.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="imgs/dislike.png" /></a>
              <a href=""><img class="like" src="imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <a href="" class="item new-item">
          <form class="create-new-item" action="">
            <img src="imgs/icons/pluss.png" class="plus">
          </form>
        </a>
      </div>
    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>
</html>