<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <div class="catalog">
    <div class="imgs">
      <h1>Catalog</h1>
      <table class="filter">
        <td>
          <a href="">Easy</a>
          <a href="">Medium</a>
          <a href="">Hard</a>
          <a href="">Black</a>
          <a href="">Colored</a>
        </td>
      </table>

      <div>
        <div class="quad" th:each="quad, iStat : ${products}">
          <div onmouseout="hidePlus()" onmouseover="showPlus()" class="item" th:each="item, iStat : ${quad}">
            <a th:href="@{/formOrder(itemId=${item.id})}" class="add-item">+</a>
            <img class="sketch" th:src="@{/loadFile(uri=${item.imageUri})}">
            <div style="display: flex;">
              <div class="rate">
                <a><div class="rate-num" th:text="${item.dislikesCount}"></div></a>
                <a th:href="@{/rate(productId=${item.id}, markValue=-1)}"><img class="dislike" th:src="@{/loadFile(uri=dislike.png)}" /></a>
                <a th:href="@{/rate(productId=${item.id}, markValue=1)}"><img class="like" th:src="@{/loadFile(uri=like.png)}" /></a>
                <a class="rate-num" th:text="${item.likesCount}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>