<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:insert="header :: header"></div>

<header>
    <a th:href="@{/}" class="logo"><img th:src="@{/loadFile(uri=logo.png)}"></a>
    <table class="menu">
        <td th:if="${session.currentUser == null || session.currentUser.role == session.currentUser.role.CLIENT}"><a th:href="@{/}">О нас</a></td>
        <td><a th:href="@{/gallery}">Каталог</a></td>
        <td><a th:href="@{/masters}">Мастера</a></td>
        <td th:if="${session.currentUser == null || session.currentUser.role == session.currentUser.role.CLIENT}"><a th:href="@{/calculator}">Калькулятор</a></td>
        <td th:if="${session.currentUser != null && session.currentUser.role != session.currentUser.role.CLIENT}"><a th:href="@{/discounts}">Скидки</a></td>
        <td th:if="${session.currentUser != null && session.currentUser.role != session.currentUser.role.CLIENT}"><a th:href="@{/users}">Пользователи</a></td>
        <td th:if="${session.currentUser != null && session.currentUser.role == session.currentUser.role.MODERATOR}"><a th:href="@{/schedule}">Расписание</a></td>
        <td th:if="${session.currentUser == null || session.currentUser.role != session.currentUser.role.ADMIN}"><a th:href="@{/profile}">Профиль</a></td>
        <td th:if="${session.currentUser != null}"><a th:href="@{/log-out}"><img th:src="@{/loadFile(uri=logout.png)}" alt="" style="height: 20px;"></a></td>
    </table>
</header>

</body>
</html>