<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header>
    <a class="logo">BubaTattoo</a>
    <table class="menu">
        <td><a href="/">About us</a></td>
        <td><a href="/gallery">Catalog</a></td>
        <td><a href="/profile">Profile</a></td>
        <td><a href="/masters">Masters</a></td>
        <td th:if="${session.user != null}"><a href="/logOut"><img src="/loadFile?name=icons/logout.png" alt="" style="height: 20px;"></a></td>
    </table>
</header>

</body>
</html>