<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
  <a class="logo">EpamTattoo</a>
  <table class="menu">
      <td><a href="/about">About us</a></td>
      <td><a href="/gallery">Catalog</a></td>
      <td><a href="/profile">Profile</a></td>
      <td><a href="/masters">Masters</a></td>
      <td>
        <select>
          <option>English</option>
          <option>Русский</option>
        </select>
      </td>
  </table>
</header>

<content>
  <div class="catalog">
    <div class="main">
      <div class="desc">
        &nbsp;&nbsp;&nbsp;&nbsp;What is Lorem Ipsum?<br>
        &nbsp;&nbsp;&nbsp;&nbsp;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <img src="../static/imgs/main.png">
    </div>
    <div class="imgs">
      <h1>Clients best choice</h1>
      <div class="quad">
        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled.png">
          <div style="display: flex;">
            <div class="rate">
              <a onClick="hello()"><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled2.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled3.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled4.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>
      </div>

      <div class="quad">
        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled5.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled6.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled7.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="sketch" src="../static/imgs/Untitled8.png">
          <div style="display: flex;">
            <div class="rate">
              <a><div class="rate-num">2</div></a>
              <a href=""><img class="dislike" src="../static/imgs/dislike.png" /></a>
              <a href=""><img class="like" src="../static/imgs/like.png" /></a>
              <a class="rate-num">156</a>
            </div>
          </div>
        </div>
      </div>
      <p class="more"><a href="gallery.html">Click to se more<a></p>
    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>


</html>