<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inferno Tattoo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div th:insert="header :: header"></div>

<content>
  <div class="catalog">
    <div class="main">
      <div class="desc">
        &nbsp;&nbsp;&nbsp;&nbsp;Украшение тела – одно из древнейших проявлений творческих способностей человека. Рисунок на теле человека всегда служил не только украшением, но и знаком социального отличия: принадлежности к племени, роду. Татуировки наделяли особой силой, они считались магическими посланиями. Тенденции в обществе с течением времени менялись, как и причины нанесения татуировки для человека.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;Что мы предлагаем?<br>
        &nbsp;&nbsp;&nbsp;Наши <a class="red-style" th:href="@{/masters}">Мастера</a> вкладывают всю свою душу в разработку уникальных эскизов и готовы подобрать изображение для Вас с учетом всех пожеланий и предпочтений! Ознакомиться с готовыми эскизами Вы можете в <a class="red-style" th:href="@{/gallery}">Каталоге</a>. После выполнения работы эскиз будет недоступен другим клиентам, так как мы всегда за индивидуальность! Однако с примерами выполненных работ Вы можете ознакомиться в <a class="red-style" th:href="@{/workGallery}">Галерее работ</a>, чтобы упростить выбор своего мастера.
      </div>
      <img th:src="@{/loadFile(uri=main.png)}">
    </div>
    <div class="imgs">
      <h1>Лучшие работы</h1>
      <div>
        <div class="quad" th:each="quad, iStat : ${products}">
          <div class="item" th:each="item, iStat : ${quad}">
            <a th:href="@{/formOrder(itemid=${item.id})}" class="add-item">+</a>
            <img class="sketch" th:src="@{/loadFile(uri=${item.imageUri})}">
            <div style="display: flex;">
              <div class="rate">
                <a><div class="rate-num" th:text="${item.dislikesCount}"></div></a>
                <a th:href="@{/rate(productId=${item.id}, markValue=-1)}"><img class="dislike" th:src="@{/loadFile(uri=dislike.png)}" th:if="${!item.isDislikedByClient(session.currentClient)}" /><img class="dislike" th:src="@{/loadFile(uri=dislike_active.png)}" th:if="${item.isDislikedByClient(session.currentClient)}" /></a>
                <a th:href="@{/rate(productId=${item.id}, markValue=1)}"><img class="like" th:src="@{/loadFile(uri=like.png)}" th:if="${!item.isLikedByClient(session.currentClient)}" /><img class="dislike" th:src="@{/loadFile(uri=like_active.png)}" th:if="${item.isLikedByClient(session.currentClient)}" /></a>
                <a class="rate-num" th:text="${item.likesCount}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>