<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buba Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <div class="calculator">
    <form class="load-sketch">
        <h4>Загрузите изображение эскиза, чтобы узнать приблизительную стоимость тату</h4>
        <br>
        <input type="file" name="uploadfile" id="img" style="display:none;"/>
        <br>
        <label class="lbl" for="img">Choose file</label><br>
        <button>Загрузить</button>
        <br>
        <a href="calculator.html">go</a>
    </form>
  </div>
</content>
</body>
</html>