<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
</head>
<body>
<div th:insert="header :: header"></div>

<content id="masters">
  <div th:each="master, iStat : ${masters}">
    <div class="master">
      <img th:src="@{/loadMasterProfilePic(masterId=${master.id})}">
      <div class="desc">
        <h1 th:text="${master.name}"></h1><br>
        <p th:text="${master.masterDescription}"></p>
        <p th:text="${'Опыт работы: '} + ${master.experience} + ${' лет'}"></p>
        <p th:text="${'Рейтинг: '} +${master.rating}"></p>
      </div>
    </div>
  </div>
</content>

<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>