<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script>
    $(document).ready(function() {

      document.querySelectorAll('.show-update-label').forEach((link) => {
        link.addEventListener('click', () => {
          $('.view-profile-label').css('display', 'none');
          $('.update-profile-label').css('display', 'revert');
        })
      })

      document.querySelectorAll('.show-view-label').forEach((link) => {
        link.addEventListener('click', () => {
          $('.view-profile-label').css('display', 'revert');
          $('.update-profile-label').css('display', 'none');
        })
      })

    })
  </script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="profile" th:if="${session.currentUser.role == session.currentUser.role.CLIENT}">
  <div class="p-div personal-info">
    <h1 class="profile-h2">Личная информация</h1>
    <br>
    <img th:src="@{/loadProfilePic}">
    <div class="update-profile-label" style="display: none">
      <a class="edit show-view-label"><img th:src="@{/loadFile(uri=edit.png)}"></a>
      <form th:action="@{/updateClientPersonalInfo}" method="post" enctype="multipart/form-data" class="input-pers-info">
        <span>Имя</span><input type="text" name="name" th:value="${session.currentClient.name}"><br>
        <span>Номер телефона</span><input type="text" name="phone" th:value="${session.currentClient.phone}"><br>
        <span>Аватар</span><input type="file" name="file"><br>
        <button type="submit">Сохранить изменения</button>
      </form>
    </div>
    <div class="view-profile-label">
      <a class="edit show-update-label"><img th:src="@{/loadFile(uri=edit.png)}"></a>
      <span>Имя</span><span th:text="${session.currentClient.name}"></span><br>
      <span>Номер телефона</span><span th:text="${session.currentClient.phone}"></span><br>
      <span>E-mail:</span><span th:text="${session.currentClient.user.email}"></span><br>
    </div>
  </div>

  <div class="p-div orders">
    <h1 class="profile-h2">Заказы</h1>
    <br>
    <div th:each="order, iStat : ${session.currentClient.orders}">
      <div class="order">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.product.difficultyDescription}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.product.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.orderStatus.description}"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="catalog">
    <div class="p-div favs imgs">
      <h1>Избранное</h1>
      <div class="quad" th:each="quad, iStat : ${favourites}">
        <div class="item" th:each="item, iStat : ${quad}">
          <img class="sketch" th:src="@{/loadFile(uri=${item.imageUri})}">
        </div>
      </div>
    </div>
  </div>

  <div class="p-div users sales">
    <h1>Скидки</h1>
    <br>
    <table>
      <tr>
        <th>ID</th>
        <th>Промокод</th>
        <th>Скидка</th>
        <th>Описание</th>
        <th>Статус</th>
        <th></th>
      </tr>
      <tr th:each="discount, iStat : ${discounts}">
        <td class="id" th:value="${discount.id}"></td>
        <td class="code" th:value="${discount.discount.promocode}"></td>
        <td class="value" th:value="${discount.discount.percentage}"></td>
        <td class="desc" th:value="${discount.discount.description}"></td>
        <td class="status" th:value="${discount.statusDescription}"></td>
        <td class="act"><button>Copy</button></td>
      </tr>
    </table>
  </div>
</content>

<content id="profile" th:if="${session.currentUser.role == session.currentUser.role.MODERATOR}">
  <div class="p-div personal-info">
    <h1 class="profile-h2">Личная информация</h1>
    <br>
    <img th:src="@{/loadMasterProfilePic(masterId=${session.currentMaster.id})}">
    <div class="update-profile-label" style="display: none">
      <a class="edit show-view-label"><img th:src="@{/loadFile(uri=edit.png)}"></a>
      <form th:action="@{/updateMasterPersonalInfo}" method="post" class="input-pers-info" enctype="multipart/form-data">
        <span>Имя</span><input type="text" name="name" th:value="${session.currentMaster.name}"><br>
        <span>Дата начала работы</span><input type="date" name="workStarted" th:value="${session.currentMaster.dateOfWorkStartFormatted}"><br>
        <span>Аватар</span><input type="file" name="file"><br>
        <button type="submit">Сохранить изменения</button>
      </form>
    </div>
    <div class="view-profile-label">
      <a class="edit show-update-label"><img th:src="@{/loadFile(uri=edit.png)}"></a>
      <span>Имя</span><span th:text="${session.currentMaster.name}"></span><br>
      <span>E-mail:</span><span th:text="${session.currentMaster.user.email}"></span><br>
      <span>Дата начала работы</span><span th:value="${session.currentMaster.dateOfWorkStartFormatted}"></span><br>
    </div>
  </div>
</content>

<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>