<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="profile" th:if="${session.currentUser.role == session.currentUser.role.CLIENT}">
  <div class="p-div personal-info">
    <h1 class="profile-h2">Личная информация</h1>
    <br>
    <img th:src="@{/loadProfilePic}">
    <form th:action="@{/updateProfilePic}" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Update profile</button>
    </form>
    <form class="input-pers-info">
      <span>Имя</span><input type="text" name="name" th:value="${session.currentClient.name}"><br>
      <span>Номер телефона</span><input type="text" name="phone" th:value="${session.currentClient.phone}"><br>
      <span>E-mail:</span><input type="text" name="e-mail" th:value="${session.currentClient.user.email}"><br>
    </form>
    <a href="/sign-out">Sign out</a>
  </div>

  <div class="p-div orders">
    <h1 class="profile-h2">Заказы</h1>
    <br>
    <div th:each="order, iStat : ${session.currentClient.orders}">
      <div class="order">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateTime}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.product.difficultyDescription}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.product.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.orderStatus.description}"></span>
        </div>
      </div>
    </div>

    <br>
    <h2>Новый заказ</h2>
    <form class="order new-order">
      <div class="order-info">
        <span class="info-in">Заказчик: </span><span class="info-value">Александра</span><br>
        <span class="info-in">Мастер: </span><select>
                                                <option>Андрей</option>
                                                <option>Рустамчик</option>
                                              </select><br>
        <span class="info-in">Дата: </span><input type="date" value="2020-12-20" min="2020-12-20" max="2022-12-20"><br>
        <span class="info-in">Номер телефона: </span><span class="info-value">+375336409890</span><br>
        <span class="info-in">Тариф: </span><span class="info-value">Сложная чёрно-белая</span><br>
        <span class="info-in">Стоимость: </span><span class="info-value">300р</span><br>
      </div>
      <img src="../static/imgs/Untitled2.png">
      <div class="order-status">
        <button>Оформить заказ</button>
      </div>
    </form>
  </div>

  <div class="p-div favs imgs">
    <h1>Избранное</h1>
    <div class="quad" th:each="quad, iStat : ${favourites}">
      <div class="item" th:each="item, iStat : ${quad}">
        <img class="sketch" th:src="@{/loadFile(uri=${item.imageUri})}">
      </div>
    </div>
  </div>

</content>

<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>
</html>