<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inferno Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="profile">

  <div class="p-div users sales">
    <h1>Скидки</h1>
    <br>
    <table>
        <tr>
          <th>ID</th>
          <th>Промокод</th>
          <th>Скидка</th>
          <th>Описание</th>
          <th>Срок действия</th>
          <th>Статус</th>
        </tr>
        <tr>
            <form th:action="@{/addNewDiscount}" method="post">
                <td class="id"><input readonly type="number" name="" value="0"></td>
                <td class="code"><input readonly type="text" value="LK503J2"></td>
                <td class="value"><input type="number" min="0" max="100" name="percentage"></td>
                <td class="desc"><input type="text" name="description"></td>
                <td class="exspires"><input type="date" name="expireDate"></td>
                <td class="status">Активна</td>
                <td class="act"><button>Add</button></td>
            </form>
        </tr>
        <tr th:each="discount, iStat : ${discounts}">
            <td class="id" th:text="${discount.id}"></td>
            <td class="code" th:text="${discount.promocode}"></td>
            <td class="value" th:text="${discount.valueFormatted}"></td>
            <td class="desc" th:text="${discount.description}"></td>
            <td class="exspires" th:text="${discount.expireDateFormatted}"></td>
            <td class="status" th:text="${discount.statusDescription}"></td>
            <td class="act"><form th:action="@{/deleteDiscount(discountId=${discount.id})}" method="post"><button>Delete</button></form></td>
        </tr>
      </table>
  </div>
</content>

<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>