<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<header>
  <a class="logo">Inferno</a>
  <table class="menu">
      <td><a href="index.html">About us</a></td>
      <td><a href="catalog.html">Catalog</a></td>
      <td><a href="sign-up.html">Profile</a></td>
      <td><a href="masters.html">Masters</a></td>
      <td><a href="calculator.html">Calculator</a></td>
  </table>
</header>

<content id="profile">

  <div class="p-div users sales">
    <h1>Скидки</h1>
    <br>
    <table>
        <tr>
          <th>ID</th>
          <th>Промокод</th>
          <th>Скидка</th>
          <th>Описание</th>
          <th>Срок действия</th>
          <th>Статус</th>
        </tr>
        <tr>
            <td class="id"><input type="number" name="" value="0"></td>
            <td class="code"><input type="text" value="LK503J2"></td>
            <td class="value"><input type="number" name=""></td>
            <td class="desc"><input type="text" name=""></td>
            <td class="exspires"><input type="date" name=""></td>
            <td class="status">Активна</td>
            <td class="act"><form><button>Add</button></form></td>
        </tr>
        <tr>
            <td class="id">1</td>
            <td class="code">T45RX7</td>
            <td class="value">30%</td>
            <td class="desc">Скидка на первую татуировку</td>
            <td class="exspires">17.06.2022</td>
            <td class="status">Активна</td>
            <td class="act"><form><button>Delete</button></form></td>
        </tr>
        <tr>
            <td class="id">2</td>
            <td class="code">AS00J2</td>
            <td class="value">10%</td>
            <td class="desc">Скидка за регистрацию на сайте</td>
            <td class="exspires">12.07.2022</td>
            <td class="status">Истекла</td>
            <td class="act"><form><button>Delete</button></form></td>
        </tr>
        <tr>
            <td class="id">25</td>
            <td class="code">PS03J2</td>
            <td class="value">10%</td>
            <td class="desc">Скидка за отсос админу</td>
            <td class="exspires">12.07.2022</td>
            <td class="status">Активна</td>
            <td class="act"><form><button>Delete</button></form></td>
        </tr>
      </table>
  </div>
</content>


<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>


</html>