<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buba Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <script>
    $(document).ready(function() {

      document.querySelectorAll('.show-update-label').forEach((link) => {
        link.addEventListener('click', () => {
          $('.order-update-' + link.getAttribute('about')).css('display', 'revert');
          $('.order-show-' + link.getAttribute('about')).css('display', 'none');
        })
      })

      document.querySelectorAll('.show-view-label').forEach((link) => {
        link.addEventListener('click', () => {
          $('.order-update-' + link.getAttribute('about')).css('display', 'none');
          $('.order-show-' + link.getAttribute('about')).css('display', 'revert');
        })
      })

      let prevShown = false;

      document.querySelectorAll('.show-prev-view').forEach((link) => {
        link.addEventListener('click', () => {
          prevShown = !prevShown;
          $('.prev-view-label').css('display', prevShown ? 'revert' : 'none');
        })
      })

    })
  </script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="schedule">
  <div class="p-div orders">
    <h1 class="profile-h2">Заказы</h1>
    <nav class="orders-nav">
      <a class="red-style" th:href="@{/schedule}">Acceped</a>
      <a th:href="@{/scheduleNew}">Requets</a>
    </nav>

    <form class="order new-order" th:action="@{/addNewScheduledItem}" method="post">
      <h4>Новый заказ</h4>
      <hr>
      <div class="order-info">
        <span class="info-in">Заказчик: </span><input class="info-value" type="text" name="clientName"><br>
        <span class="info-in">Дата: </span><input class="info-value" type="datetime-local" required name="dateTime"><br>
        <span class="info-in">Номер телефона: </span><input class="info-value" type="text" name="contactPhone"><br>
        <span class="info-in">Стоимость: </span><input class="info-value" type="text" name="price"><br>
        <span class="info-in">Комментарий: </span><input class="info-value" type="text" name="comment"><br>
      </div>
      <img style="visibility: hidden;" th:src="@{/loadFile(uri=)}">
      <div class="order-status">
        <button type="submit">Добавить</button>
      </div>
    </form>

    <br>
    <a class="center show-prev-view" href="">show previous</a>
    <br>

    <div style="display: none" class="prev-view-label" th:if="false" th:each="pair, iStat : ${previouslyCompletedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.clientName}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
        </div>
      </div>
    </div>

    <div th:each="pair, iStat : ${completedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.clientName}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
        </div>
      </div>
    </div>

    <div th:each="pair, iStat : ${acceptedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div th:class="${'order-show-'} + ${order.id}">
          <div class="order-info">
            <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.clientName}"></span><br>
            <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
            <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
            <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
            <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
            <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
          </div>
          <img th:src="@{/loadFile(uri=${order.imageUri})}">
          <div class="order-status">
            <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
          </div>
          <a class="edit show-update-label" th:about="${order.id}"><img th:src="@{/loadFile(uri=edit.png)}"></a></span>
        </div>
        <div th:class="${'order-update-'} + ${order.id}" style="display: none">
          <form th:if="${order.realOrder}" th:action="@{/updateOrder(orderId=${order.id})}" method="post" enctype="multipart/form-data">
            <div class="order-info">
              <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.clientName}"></span><br>
              <span class="info-in">Мастер: </span><select name="masterId" title="Перенаправляйте заказ другому мастеру &#010; только если не готовы выполнить его">
              <option th:if="${master.id == session.currentMaster.id}" selected th:each="master, jStat : ${masters}" th:text="${master.name}" th:value="${master.id}"></option>
              <option th:if="${master.id != session.currentMaster.id}" th:each="master, jStat : ${masters}" th:text="${master.name}" th:value="${master.id}"></option>
            </select><br>
              <span class="info-in">Дата: </span><input class="info-value" type="datetime-local" name="dateTime" th:value="${order.dateFormattedISO}"/><br>
              <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
              <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
              <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
              <span class="info-in">Готовая работа: </span><input class="info-value" type="file" name="completedImage"><br>
            </div>
            <img th:src="@{/loadFile(uri=${order.imageUri})}">
            <div class="order-status">
              <span>Статус заказа: </span><select name="orderStatus">
              <option selected th:value="${order.orderStatus.ACCEPTED}" th:text="${order.orderStatus.ACCEPTED.description}"></option>
              <option th:value="${order.orderStatus.COMPLETED}" th:text="${order.orderStatus.COMPLETED.description}"></option>
              <option th:value="${order.orderStatus.REJECTED}" th:text="${order.orderStatus.REJECTED.description}"></option>
            </select>
            </div>
            <button type="submit">Внести изменения</button>
          </form>
          <form th:if="${!order.realOrder}" th:action="@{/updateScheduledItem(itemId=${order.id})}" method="post" enctype="multipart/form-data">
            <div class="order-info">
              <span class="info-in">Заказчик: </span><input type="text" class="info-value" name="clientName" th:value="${order.clientName}"><br>
              <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
              <span class="info-in">Дата: </span><input class="info-value" type="datetime-local" name="dateTime" th:value="${order.dateFormattedISO}"/><br>
              <span class="info-in">Номер телефона: </span><input type="text" class="info-value" name="contactPhone" th:value="${order.contactPhone}"><br>
              <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
              <span class="info-in">Стоимость: </span><input type="text" class="info-value" name="price" th:value="${order.price}"><br>
              <span class="info-in">Комментарий: </span><input type="text" class="info-value" name="comment" th:value="${order.comment}"><br>
            </div>
            <img th:src="@{/loadFile(uri=${order.imageUri})}">
            <div class="order-status">
              <span>Статус заказа: </span><select name="orderStatus">
              <option selected th:value="${order.orderStatus.ACCEPTED}" th:text="${order.orderStatus.ACCEPTED.description}"></option>
              <option th:value="${order.orderStatus.COMPLETED}" th:text="${order.orderStatus.COMPLETED.description}"></option>
              <option th:value="${order.orderStatus.REJECTED}" th:text="${order.orderStatus.REJECTED.description}"></option>
            </select>
            </div>
            <button type="submit">Внести изменения</button>
          </form>
          <a class="edit show-view-label" th:about="${order.id}"><img th:src="@{/loadFile(uri=edit.png)}"></a></span>
        </div>
      </div>
    </div>

  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>