<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buba Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="schedule">
  <div class="p-div orders">
    <h1 class="profile-h2">Заказы</h1>
    <nav class="orders-nav">
      <a class="red-style" th:href="@{/schedule}">Acceped</a>
      <a th:href="@{/scheduleNew}">Requets</a>
    </nav>
    <form class="order new-order">
      <h4>Новый заказ</h4>
      <hr>
      <div class="order-info">
        <span class="info-in">Заказчик: </span><input class="info-value" placeholder=""></input><br>
        <span class="info-in">Мастер: </span><input class="info-value" value="Андрей" readonly><br>
        <span class="info-in">Дата: </span><input class="info-value" type="date"><br>
        <span class="info-in">Номер телефона: </span><input class="info-value"><br>
        <span class="info-in">Тариф: </span><input class="info-value"><br>
        <span class="info-in">Стоимость: </span><input class="info-value"><br>
      </div>
      <img style="visibility: hidden;" src="imgs/Untitled2.png">
      <div class="order-status">
        <button>Добавить</button>
      </div>
    </form>
    <br>
    <a class="center" href="">show previous</a>
    <br>
    <div th:if="false" th:each="pair, iStat : ${previouslyCompletedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.product.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
        </div>
      </div>
    </div>

    <div th:each="pair, iStat : ${completedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><input class="info-value" th:text="${order.master.name}"><br>
          <span class="info-in">Дата: </span><input type="date" class="info-value" th:text="${order.dateFormatted}"><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.product.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
        </div>
      </div>
    </div>

    <div th:each="pair, iStat : ${acceptedOrders}">
      <span class="red-style" th:text="${pair.key}"></span>
      <div class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><span class="info-value" th:text="${order.master.name}"></span><br>
          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:text="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><span class="info-value" th:text="${order.priceFormatted}"></span><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.product.imageUri})}">
        <div class="order-status">
          <span>Статус заказа: </span><span th:text="${order.statusFormatted}"></span>
        </div>
        <a href="" class="edit"><img src="imgs/icons/edit.png"></a>
      </div>
    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>