<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inferno Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="js/script.js"></script>
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content id="schedule">
  <div class="p-div orders">
    <h1 class="profile-h2">Заказы</h1>
    <nav class="orders-nav">
      <a th:href="@{/schedule}">Acceped</a>
      <a class="red-style" th:href="@{/scheduleNew}">Requets</a>
    </nav>
    <br>

    <div th:each="pair, iStat : ${orders}">
      <br><span class="red-style" th:text="${pair.key}"></span><br>
      <form th:action="@{/updateOrderStatus(id=${order.id})}" method="post" class="order complete" th:each="order, jStat : ${pair.value}">
        <div class="order-info">
          <span class="info-in">Заказчик: </span><span class="info-value" th:text="${order.client.name}"></span><br>
          <span class="info-in">Мастер: </span><select name="masterId" title="Перенаправляйте заказ другому мастеру &#010; только если не готовы выполнить его">
                                                <option value="0">Отклонить</option>
                                                <option th:if="${master.id == session.currentMaster.id}" selected th:each="master, jStat : ${masters}" th:text="${master.name}" th:value="${master.id}"></option>
                                                <option th:if="${master.id != session.currentMaster.id}" th:each="master, jStat : ${masters}" th:text="${master.name}" th:value="${master.id}"></option>
                                              </select><br>

          <span class="info-in">Дата: </span><span class="info-value" th:text="${order.dateFormatted}"></span><br>
          <span class="info-in">Номер телефона: </span><span class="info-value" th:text="${order.contactPhone}"></span><br>
          <span class="info-in">Тариф: </span><span class="info-value" th:value="${order.tariff}"></span><br>
          <span class="info-in">Стоимость: </span><input name="priceAccepted" class="info-value" th:value="${order.price}"/><br>
        </div>
        <img th:src="@{/loadFile(uri=${order.imageUri})}">
        <div class="buts">
          <button>Обработать</button>
        </div>
      </form>
    </div>
  </div>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>