<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inferno Tattoo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <form class="sign" action="/authClient" method="post">
    <h1>InfernoTattoo</h1>
    <div class="inputs">
      <input type="text" name="login" placeholder="Логин">
      <input type="password" name="password" placeholder="Пароль">
    </div>
    <div th:if="${param.error != null && !param.error.isEmpty()}" class="ui-state-error">
        <span class="ui-state-error-text" th:text="${param.error}"></span>
    </div>
    <button>Sign In</button>
    <br>
    <p class="or">
      или&nbsp;<a href="/sign-up">Зарегистрируйтесь</a><br>если у Вас еще нет аккаунта
    </p>
  </form>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>

</html>