<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>EPAM Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<div th:insert="header :: header"></div>

<content>
  <form class="sign" action="/applyClient" method="post">
    <h1>EpamTattoo</h1>
    <div class="inputs">
      <input type="text" name="login" placeholder="Login">
      <input type="email" name="email" placeholder="E-mail">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="phone" placeholder="Phone">
      <input type="password" name="password" placeholder="Password">
      <input type="password" name="" placeholder="Confirm password">
    </div>
    <div th:if="${param.error != null && !param.error.isEmpty()}" class="ui-state-error">
        <span class="ui-state-error-text" th:text="${param.error}"></span>
    </div>
    <button>Sign Up</button>
    <br>
    <p class="or">
      or&nbsp;<a href="/sign-in">Sign In</a><br>if you already have an account
    </p>
  </div>
</form>
</content>
<footer>
  <hr>
  <p class="foo-content">Hello have a good day bro (:</p>
</footer>
</body>
</html>