<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Buba Tattoo</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta charset="utf-8">
 </head>

<body>
<script type="text/javascript" src="js/script.js"></script>
  
<header>
  <a class="logo">Inferno</a>
  <table class="menu">
      <td><a href="index.html">About us</a></td>
      <td><a href="catalog.html">Catalog</a></td>
      <td><a href="sign-up.html">Profile</a></td>
      <td><a href="masters.html">Masters</a></td>
      <td><a href="calculator.html">Calculator</a></td>
  </table>
</header>

<content>
  <div class="catalog res">
    <div>
      <h2>Андрей</h2>
      <div class="work">
        <img src="imgs/res/res0.jpg"><img src="imgs/Untitled.png">
      </div>
      <div class="work">
        <img src="imgs/Untitled2.png"><img src="imgs/res/res0.jpg">
      </div>
    </div>
  </div>
</content>



</html>